{% extends 'base.html' %}

{% block content %}

<section class="product-detail">
    <img src="https://images.samsung.com/is/image/samsung/p6pim/levant/galaxy-s23/gallery/levant-galaxy-s23-s911-sm-s911bzkdmea-thumb-534826939" alt="Samsung Galaxy S23">
    <h2>Samsung Galaxy S23</h2>
    <p><strong>Narxi:</strong> 11 800 000 so‘m</p>
    <p><strong>Xotira:</strong> 256 GB</p>
    <p><strong>Protsessor:</strong> Snapdragon 8 Gen 2</p>
    <p><strong>Kamera:</strong> 50MP asosiy kamera</p>
    <p><strong>Displey:</strong> 6.1" Dynamic AMOLED 2X</p>
</section>

{% endblock %}